.img{
  width: 200px;
  box-sizing: border-box;
  border: 5px solid red;
  border-left-color: blue;
  border-bottom-style: botted;
  padding: 15px 0 0 40px;
  /* padding-top: 0; */
margin: 20px;
display: block;

}