.wrapper{
  min-width: 200px;
  max-width: 400px;
  min-height: 200px;
  height: 50vw;
  max-height: 700px;
border: 2px solid red;
padding-top: 20px;
}
.inner{
  box-sizing: border-box;
  width: 50%;
  height: 50%    ;
  border: 2px solid green;
  overflow-y: scroll;
} 